.unprocessed-bots {
  border-top: 0px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;

  .table {
    tr {
      td, th {
        vertical-align: middle
      }
    }
  }
}

.pagination {
  padding: 0;
  margin: 10px !important;

  li {
    a {
      font-size: 12px;
      padding: 2px 4px;
      cursor: pointer;
    }
  }
}

.robot-configs {
  list-style-type: none;
  li {
    margin-right: 10px;
    display: inline-block;
    > span {
      margin-right: 5px;
      font-size: 10px;
    }
  }
}

.mr-2 {
  margin-right: 6px;
}
.mr-3 {
  margin-right: 9px;
}
.mr-4 {
  margin-right: 12px;
}
.mr-5 {
  margin-right: 15px;
}

.p-10 {
  padding: 10px;
}